on: [push]
jobs:
  build_and_check:
    name: Build and check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: -- --check
      - uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: -- -Dwarnings
      - uses: actions-rs/cargo@v1
        with:
          command: test